<h2>Welcome to Rails Todos</h2>

<h4><a href="<%= new_todo_path  %>">Create New Todo</a></h4>

<% @todos.each do |todo| %>
	
	<div>
		Name: <%= todo.name %>
	</div>

	<div>
		Description: <%= todo.description %>
	</div>

	<div>
		<a href="<%= todo_path(todo) %>" data-disable-with="Processing...">View</a>
		<a href="<%= edit_todo_path(todo) %>">Edit</a>
		<a href="<%= todo_path(todo) %>" data-method="DELETE">Delete</a>
	</div>

<% end %>