<h3>Todo Details</h3>

<div>Id: <%= @todo.id %></div>
<div>Name: <%= @todo.name %></div>
<div>Description: <%= @todo.description %></div>
<div>Created At: <%= @todo.created_at %></div>
<div>Updated At: <%= @todo.updated_at %></div>
